use flake
mkdir -p ./.githooks
git config set core.hooksPath "./.githooks"
mkdir -p ./data/
if [ ! -e ./data/raw.lua ]; then
    echo "{" > ./data/raw.lua
    wget -qO- https://gist.githubusercontent.com/Bilka2/6b8a6a9e4a4ec779573ad703d03c1ae7/raw \
        | tail -n +2 >> ./data/raw.lua
fi
chmod +x ./build-scripts/*.sh