use flake
mkdir -p ${PWD}/.githooks
git config set core.hooksPath "${PWD}/.githooks"
chmod +x ${PWD}/build-scripts/*.sh
mkdir -p ${PWD}/slop/scratch
rm -f ${PWD}/slop/scratch/factorio-research.md 
ln -s ${PWD}/.claude/skills/factorio-research/SKILL.md ${PWD}/slop/scratch/factorio-research.md 