* text=auto

CLAUDE.md export-ignore

*.png binary
**/*.png binary

*.md export-ignore

slop export-ignore
.claude export-ignore

src export-ignore
Cargo.toml export-ignore
Cargo.lock export-ignore
target export-ignore

build-scripts export-ignore
Makefile export-ignore

test.lua export-ignore
test export-ignore

.* export-ignore
.direnv export-ignore
flake.* export-ignore

TODO.md export-ignore

modules.lua export-ignore
modules/*.lua export-ignore