* text=auto

*.png binary

*.md export-ignore
*.xcf export-ignore
/**/*.xcf export-ignore

/.* export-ignore

/build-scripts/** export-ignore
Makefile export-ignore

debuglib.lua export-ignore
debug-*.lua export-ignore
testlib.lua export-ignore
test-*.lua export-ignore
test/**/* export-ignore
debug/**/* export-ignore

flake.* export-ignore

data/**/* export-ignore
