* text=auto

CLAUDE.md export-ignore

*.png binary
/**/*.png binary

*.md export-ignore
*.xcf export-ignore
/**/*.xcf export-ignore

/slop/* export-ignore
/.claude/* export-ignore

/src/*.rs export-ignore
Cargo.toml export-ignore
Cargo.lock export-ignore
/target export-ignore

/build-scripts/** export-ignore
Makefile export-ignore

debug-*.lua export-ignore
test.lua export-ignore
/test/**/* export-ignore
unit-tests.lua
unit-tests-trusted.lua
/unit-tests/**/* export-ignore

/.* export-ignore
/.direnv/* export-ignore
flake.* export-ignore

/graphics/base/* export-ignore